<div>
  {{ title }}
  <input type="text" [(ngModel)]="contact.name">
  <input type="text" [(ngModel)]="contact.phone">
  <input type="text" [(ngModel)]="contact.email">
  
  <button (click)="addContact()">Add</button>
  
  <ul *ngIf="contacts.length > 0; else emptyBlock">
    <li *ngFor="let contact of contacts">{{ contact.name }} | <span style="color: red;" (click)="deleteContact(contact.id)">delete</span></li>
  </ul>

  <ng-template #emptyBlock>
    <div style="margin-top: 20px;">Empty list ..</div>
  </ng-template>
  
</div>